#body-main {
  background-color: rgba(30, 51, 103, 0.833);
}

.p {
  margin: 10px;
  font-size: 26px;
  font-family: "Gemunu Libre", sans-serif;
  color: rgba(255, 255, 255, 0.78);
}
#pastedeck {
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Gemunu Libre", sans-serif;
  color: rgb(255, 255, 255);
}

h2 {
  text-decoration: underline;
  margin: 10px;
  font-size: 35px;
  font-family: "Gemunu Libre", sans-serif;
  color: rgba(255, 255, 255, 0.78);
}

.inputText {
  font-family: "Gemunu Libre", sans-serif;
  margin: 10px;
  width: 60%;
  height: 40px;
  font-size: 30px;
}

.checkbox {
  margin: 10px;
  margin-top: 5px;
  height: 15px;
  width: 20px;
}

.label {
  margin: 3px;
  font-family: "Gemunu Libre", sans-serif;
  color: rgb(240, 240, 240);
  font-size: 23px;
}

.button {
  font-family: "Gemunu Libre", sans-serif;
  width: 8%;
  height: 30px;
  font-size: 15px;
  margin-left: 1%;
  margin-top: 5px;
}

.textarea {
  font-family: "Gemunu Libre", sans-serif;
  margin: 20px 10px 10px 10px;
  height: 230px;
  width: 55%;
  font-size: 20px;
}

#foot {
  font-size: 15px;
  color: rgb(255, 255, 255);
}
#foot-link {
  font-size: 15px;
  color: rgb(255, 123, 123);
}

#link {
  font-size: 26px;
  color: rgb(255, 123, 123);
}

#list {
  margin: 10px;
  font-size: 26px;
  font-family: "Gemunu Libre", sans-serif;
  color: rgba(255, 255, 255, 0.78);
}

/* CARD */
/* CARD */
/* CARD */

:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  margin: auto;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
  transition: color 0.5s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}

.card:hover {
  color: rgb(225, 225, 225);
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.1s linear infinite;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(--card-height) / 6;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(var(--card-height) / 6);
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  -transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-filter: blur(var(--card-height) / 6);
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

.card:hover::before,
.card:hover::after {
  animation: none;
  opacity: 0;
  -webkit-animation: none;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
